<body style="background-color:transparent">
<div id="fafa_webim_100082_ocsfontbox" onmouseover="self.status='';return true" fafa="{{from}}/{{p}}">
  <div id="fafa_webim_ocs_100082_onlineuser" style="display:none;">
      <ul>
      {{outHtml|raw}}
      </ul>
  </div>
</div>