<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title>
<meta name="description" content="FaFa是一个依托于强大的FaFa即时消息平台、企业开放平台基础上的面向企业用户的社交网络平台。" />
<meta name="keywords" content="FaFa,企业社交平台,企业应用中心,企业即时通讯,企业通讯软件,企业即时通讯软件,免费企业通讯软件,免费企业即时通讯,免费企业即时通讯软件" />
<style>
a{TEXT-DECORATION:none} 
/*a:hover{TEXT-DECORATION:underline}*/
</style>
<script type="text/javascript" src="https://www.wefafa.com/bundles/fafatimewebase/js/jquery.js"></script>
<script type="text/javascript" src="https://www.wefafa.com/bundles/fafatimeweopenapi/js/faapi.js"></script>
<script type="text/javascript" src="https://www.fafaim.com/bundles/fafawebimimchat/js/fachat_window.js"></script>
</head>
<body>
   在线客服测试：
   <div id="onlineCS" style="display: block;position: relative; ">
       <span fafa_online_user='10097' style="width: 60px;">客服服务</span>
       <span fafa_online_user='10096' style="width: 80px;">&nbsp;&nbsp;产品经理</span></div>
</body>
<script type="text/javascript" src="https://www.fafaim.com/bundles/fafawebimimonlineservice/js/fafaonline10.js?orgid=100082" type="text/javascript"></script> 

