
.loading {
  position:absolute;
  left:35%;
  top:40%;
  padding:2px;
  width:241px;
  height:72px;
  text-align:center;  
  background:  url(../images/progress_bg.jpg) no-repeat;
  z-index:99990;
}
.loadding-text
{
  position:absolute;
  visibility:inherit;
  top:10px;
  left:20px;  
  font-size:12px;
  font-family:"宋体";
  z-index:99991;
}
.loadingImg
{
  position:absolute;
  visibility:inherit;
  left:20px;
  top:45%;
  width: 208px;
  height:13px;  
  background:  url(../images/loading.gif) no-repeat;
  z-index:99991;
}

