<div class="menuother">我的人脉</div>
<ul class="left-menu">
   <li id="left_circle_member"><a href="{{path('JustsyBaseBundle_member',{'network_domain':network_domain})}}">圈子成员</a></li>
   <li id="left_me_atten"><a href="{{path('JustsyBaseBundle_relation_atten',{'network_domain':network_domain,'attentype':'me_atten'})}}">我的关注</a></li>
   <li id="left_atten_me"><a href="{{path('JustsyBaseBundle_relation_atten',{'network_domain':network_domain,'attentype':'atten_me'})}}">我的粉丝</a></li>
</ul>