<div class="menuother">客户端</div>
<ul class="left-menu">
   <li><a href="{{ path("JustsyMongoDocBundle_getpcsetup") }}" title="下载Wefafa for widows客户端"><i class="menu-pc"></i>Windows PC端</a></li>
   <li><a href="{{ path("JustsyMongoDocBundle_getandroidsetup") }}" title="下载Wefafa for Android客户端"><i class="menu-android"></i>Android手机端</a></li>
   <li><a href="https://itunes.apple.com/cn/app/fafa/id687237651?mt=8" target=_blank title="下载Wefafa for iOS客户端"><i class="menu-iphone"></i>iPhone手机端</a></li>
</ul>