<div class="rightbox">
  <div class="HotHelpScroll">
    <div class="HotHelpScroll-title"><span class="HotHelpScroll-titleicon"></span><span class="HotHelpScroll-titletext">热点问题</span></div>
    <hr class="HotHelpScroll-split"/>
    <div class="HotHelpScroll-list">
    </div>
  </div>
</div>