<h5>业务系统接入可采用如下三种模式</h5>
<ul>
	<li>通用模式：以类微信公众号模式的交互式消息完成与业务系统的数据交换，手机端无须任何开发，通过在服务器侧配置相应的业务系统接口及参数完成业务数据获取与提交；</li>
	<li>HTML插件：当业务系统需要展现、编辑的数据较多，界面较复杂时，可开发HTML5插件，通过Wefafa消息通道，与业务系统交互，手机端仅须开发相应HTML5插件，通过在服务器侧的配置即可完成手机端业务系统功能集成展现，无须编译修改发布手机端APP；</li>
	<li>App插件：当手机端已存在现有业务系统APP或手机端对业务系统功能及界面要求较高，HTML5插件无法满足要求，可通过该模式，业务系统App须单独开发，但可通过WefafaApp接口与移动平台交互，从而与业务系统交互。（目前仅支持Android）</li>	
</ul>
<p><strong>注：业务系统接入必须配置业务代理，详见<a href="?title=业务代理简介">业务代理简介</a>。</strong></p>