<p>　　管理员用户登录 <a href="https://www.wefafa.com">https://www.wefafa.com</a> 后，可在页面右侧的“企业微应用”或页面顶部的“企业设置=>微应用申请”功能中申请创建微应用。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_10.png')}}"/>
<h5>微应用属性</h5>
<ul>
	<li>帐号：帐号必须为可用邮箱，并且未在Wefafa中注册使用过。注册成功后的帐号可像普通用户一样登录Wefafa，修改密码。</li>
	<li>名称：限定2-20字符，并且不可重名（也不可与普通用户名称重名）。</li>
	<li>密码：6－16字符</li>
	<li>欢迎词：欢迎词定义（备用）</li>
	<li>简介：微应用简介</li>
	<li>LOGO：上传微应用图标</li>
</ul>
<p><strong>　　注意：微应用创建成功后，可得到其标识（AppID）和密匙（AppKey）用于消息推送，该两项值请妥善保管，不要泄露。</strong></p>
