<h5>示例简介</h5>
<p>　　本示例模拟一个需要实现移动化功能的业务系统，以微应用的模式接入，并同时应用了通用模式与插件模式实现其业务功能。</p>
<p>　　本模拟业务系统是一个Web应用，自带一个简化的Web应用服务器，运行后在本机的8848端口提供http服务，可通过模拟业务系统进入，或直接通过浏览器进入。</p>
<p>　　本模拟业务系统采用Asp.net开发，以源码方式运行 ，可将Web应用所在目录（安装路径/web/）拷贝并部署于Windows IIS中，注意部署时的域名及端口，需要匹配业务代理中的URL域名与端口配置。</p>
<h5>先决条件</h5>
<ul>
	<li>注册加入Wefafa</li>
	<li>申请成为S级企业</li>
	<li>申请微应用帐号</li>
</ul>
<h5>示例安装</h5>
<ul>
	<li>下载 <a href="{{asset('bundles/../download/BizSim.rar')}}" target="_blank">模拟业务系统</a>，并解压至任一目录</li>
	<li>下载 <a href="{{asset('bundles/../download/WefafaAgent.rar')}}" target="_blank">业务代理安装版</a>，并以管理员身份安装</li>
	<li>下载模拟业务系统的业务代理配置文件：<a href="{{asset('bundles/../download/config.xml')}}" target="_blank">config.xml</a> ，拷贝（或覆盖）至业务代理安装目录</li>
</ul>
<h5>示例配置与使用</h5>
<ul>
	<li>启动业务代理服务，通过浏览器打开 <a href="http://localhost:8252" target="_blank">http://localhost:8252</a> ，修改微应用帐号及密码，保存后重启服务</li>
	<li>启动模拟业务系统，通过浏览器打开 <a href="http://localhost:8848" target="_blank">http://localhost:8848</a> ，修改微应用AppID与AppKey，以便消息推送时使用</li>
	<li>登录手机端Wefafa App，关注您申请的微应用</li>
	<li>开始使用...</li>
</ul>

