<h5>第一步、注册加入Wefafa</h5>
<p>微应用以Wefafa平台为基础，通过Wefafa平台及WefafaApp对用户提供业务系统功能。对于初次使用用户，可通过 <a href="https://www.wefafa.com">https://www.wefafa.com</a> 注册企业及帐号。</p>
<h5>第二步、申请成为S级企业</h5>
<p>微应用功能仅针对S级企业开放，若需使用该功能，请先申请成为S级企业。</p>
<h5>第三步、申请微应用帐号</h5>
<p>每个企业可申请多个微应用，以接入不同的业务系统。用户登录 https://www.wefafa.com 后，可在页面右侧的“企业微应用”或页面顶部的“企业设置=>微应用申请”功能中申请创建微应用。</p>
<h5>第四步、配置微应用业务代理</h5>
<p>若需使用除消息推送外的其它功能，比如接入业务系统，则必须配置微应用业务代理，详见<a href="?title=业务代理简介">业务代理简介</a>，否则可跳过该步。</p>
<h5>第五步、关注微应用</h5>
<p>微应用申请完成后，即可在手机端App中查找新申请的微应用，并关注。对于微应用关注成员，也可由管理员在“企业设置=>微应用”管理功能中设置某个用户的关注或取消其关注。</p>