<h5>什么是微应用</h5>
<p>
微应用是指通过Wefafa开放平台结合业务代理配置，在手机端简单快速实现与企业后端信息系统或第三方大型业务系统对接，实现信息查询、报表查询、实时信息采集提交及审批流程等的客户端应用。
<p>若仅仅需要消息推送功能，则无须配置业务代理。</p>
</p>
<h5>常见的微应用</h5>
<p>
预警消息推送、报表查询及推送、审批(请假、报销等)、备忘录、工作日志、工作报告、客户信息采集、商机录入、上报销量、销售日报、订单提交、维修现场、市场活动信息报告、各类现场信息采集等。
</p>
<h5>微应用特点</h5>
<ul>
	<li>无须手机端开发，可实现低成本快速开发</li>
	<li>具备统一应用平台及各设备客户端APP</li>
	<li>对业务系统部署无特殊要求，无须公网IP，业务代理能访问外网即可</li>
	<li>通过HTTPS、TLS加密传输数据，保证业务数据安全性</li>
	<li>应用访问控制：微应用分为开放或私密两类，私密类微应用不可搜索查询，仅可指定部分人员使用，开放类微应用可搜索查询，可控制指定人员访问或不可访问微应用</li>
	<li>发布方式：以配置方式将微应用嵌入Wefafa平台，客户端自动下载使用，无须在各大AppStore上发布</li>
	<li>方便手机端实时采集信息，如商品条码、现场信息等</li>
	<li>实时推送富文本信息</li>
	<li>实时推送业务系统交互式信息</li>
</ul>
<h5>微应用分类</h5>
<ul>
	<li>信息查询类：通过发指令方式向业务系统请求图表类信息</li>
	<li>内容提交类：通过手机端实时录入或采集业务信息提交到后端业务系统</li>
	<li>信息推送类：通过业务系统接口按预设规则向手机推送业务消息或图表</li>
</ul>
<h5>微应用消息推送架构</h5>
<p>业务系统调用消息推送接口，将企业新闻、各类报表、审批通知等普通消息或交互式消息推送至手机端。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_0.png')}}"/>
<h5>微应用业务代理架构—通用模式</h5>
<p>通过交互式消息完成与业务系统的数据交换，手机端无须任何开发，通过业务代理配置相应的业务系统接口及参数完成业务数据获取与提交。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_1.png')}}"/>
<h5>微应用业务代理架构—插件模式</h5>
<p>通过自定义插件完成与业务系统的数据交换，手机端仅须开发插件，通过业务代理配置后，手机端会自动调用插件，完成与业务系统接口及业务数据获取与提交。</p>
<image style="width:450px;" src="{{asset('bundles/fafatimewebase/images/webiz_2.png')}}"/>