{% extends 'JustsyBaseBundle::master.html.twig' %}

{% block main_content %}
		  <div class="threemain">
				  <div class="homeleft">
				    {% block main_content_left %}{% endblock %}
				  </div>
				  <div class="mid">
					  <div class="center">
					    {% block main_content_center %}{% endblock %}					    
					  </div>
					  <div class="homeright">
						    {% block main_content_right %}{% endblock %}
						</div>						
					</div>
					<div class="clearBoth" ></div>
		  </div>
{% endblock %}