<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wefafa，企业协作网络</title></head>
<body>	
<div id="main_detail">
    尊敬的 {{ account }} 邮箱用户：
        您的注册申请已通过审批，您的激活码是 {{ active_code }}，请通过手机Wefafa客户端激活您的帐号。
</div>
</body>
</html>