<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title></head>
<body>	
<div id="main_detail">
    尊敬的 {{ nick_name }} 先生/女士：
        您于{{req_date}}使用找回密码功能，请于1日内到<br>
    <a href="{{ repwd_url }}">{{ repwd_url }}</a><br>重置您的密码。
</div>
</body>
</html>