<html>
<head>
<link href="{{ asset('bundles/fafatimewebase/css/home_s1.css')}}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="errorbox">
  <div class="successpic"></div>
  <div class="errordetail"><span class="errorpart"></span>
    <div class="errordetail-box">
      <p class="successtitle">您的密码重置成功！请牢记您的新密码。</p>
      <p class="successtitle" style="background: none;">将于5秒后返回首页</p>
      <p class="successlink"><a href="{{root_url}}">返回首页</a></p>
    </div>
  </div>
</div>
<body>
</html>

<script type="text/javascript">
setTimeout(function()
{
  window.location.pathname = "{{root_url}}";
},5000)
</script>