<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, width=320" /> 
        <title>应用下载</title>
    </head>
    <body>
    	<div style="margin: 25px auto 15px; text-align: center; font-weight: bold; color: darkblue;">请在浏览器打开当前页面</div>
    	<div style="height: 44px; position: absolute; right: 15px; top: 10px; width: 44px; background:url({{ asset('bundles/fafatimewebase/images/homepage/totop.png')}})"></div>
    	<div style="background: none repeat scroll 0 0 #EEEEEE; border: 1px solid #CCCCCC; border-radius: 8px; padding: 10px; text-align: center;">
    		<img src="{{ asset('bundles/fafatimewebase/images/wefafa_logo.png')}}" alt="">
	    	<h1>移动应用平台</h1>
	    	<h4>定制App下载</h4>
    	</div>
    </body>
</html>
