<div class="menuother">邀请好友</div>
<ul class="left-menu">
  <li><a href="{{ path('JustsyBaseBundle_invite_recved',{'network_domain':curr_network_domain}) }}"><i class="menu-search"></i>已收到邀请</a></li>
  <li><a href="{{ path('JustsyBaseBundle_invite_sended',{'network_domain':curr_network_domain}) }}"><i class="menu-search"></i>已发出邀请</a></li>
  <li><a href="{{ path('JustsyBaseBundle_invite',{'network_domain':curr_network_domain}) }}"><i class="menu-create"></i>邀请加入</a></li>
</ul>