<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FaFa，开启企业社会化时代！</title></head>
<body>	
<div id="main_detail">
您好！<br>
    {{ename}}  【{{ nick_name }}】申请加入您的群组【{{ group_name }}】，同意请点击下面的“同意加入”按钮：<br>
    <a href="{{ activeurl }}" style="color:blue">同意加入</a>
</div>
</body>
</html>