<html>
<head>
<link href="{{ asset('bundles/fafatimewebase/css/home_s1.css')}}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="errorbox">
  <div class="successpic"></div>
  <div class="errordetail"><span class="errorpart"></span>
    <div class="errordetail-box">
      <p class="successtitle">恭喜！操作已成功！</p>
      <p class="successlink"><a href="{{ backurl }}">返回群组首页</a></p>
    </div>
  </div>
</div>
<body>
</html>