<!DOCTYPE html>
<html>
<head>
<title>我的资料</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{{ asset('bundles/fafatimewebase/css/home.css')}}" type="text/css" rel="stylesheet">
<link href="{{ asset('bundles/fafatimewebase/css/home_s1.css')}}" type="text/css" rel="stylesheet">
</head>
<body style="margin:0px;background-color:#fff">
<form id="formbasic"  method="post" class="form-horizontal">
<div id="account_pcsync" style="line-height:390px;text-align:center">
<b>个人资料获取失败：</b>
    网络连接超时，<span style="cursor:pointer;color:blue" id="card_again" name="card_again" title="立即尝试重新获取个人资料"><u>请重试</u><span>
</div>
</form>
</body>
</html>
<script type="text/javascript">
</script>